body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: calc(100% - 30px);
    padding-left: 15px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
    width: 100%;
}


label {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
    width: 100px;
}

input[type="password"],
input[type="text"] {
    width: calc(100% - 130px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
}

div[style*="position: relative"] {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

span {
    margin-left: 15px;
}

select {
    margin: 0 auto 20px auto;
}

button {
    margin: 10px 0;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

div[style*="position: absolute"] {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

div[style*="position: absolute"] button {
    background-color: #28a745;
    margin: 0 5px;
}

div[style*="position: absolute"] button:hover {
    background-color: #218838;
}